body{
    text-align: center;
    background-color: aquamarine;
}
.todo-input{
    padding: .5rem;
    width: 15rem;
    margin: .5rem;
}
.todo-button{
    padding: .5rem 1rem;
    border-radius: 5px;
    border-style: none;
    background-color: white;
    color: black;
}
.todo-button:hover,
.todo-button:active{
    padding: .5rem 1rem;
    border-radius: 5px;
    background-color: greenyellow;
    color: black;
    border-style: none;
}
.todo-ul{
    text-align: center;
}
.todo-item{
   margin-left: 30rem;
   margin-bottom: .5rem;
    text-align: center;
  border: .125px dotted black;
  height: 4rem;
  width: 25rem;
}
.todo-item-p{
    display: inline-block;
    font-size: 1.4rem;
    margin-right: 2rem;
}
.todo-item-delete{
    padding: .3rem 1rem;
    border-radius: 5px;
    margin-left : 2rem;
    background-color: rgb(150, 59, 59);
    color: #000;
    border-style: none;
}
.todo-item-edit{
    padding: .3rem 1rem;
    border-radius: 8px;
    background-color: rgb(97, 97, 165);
    color: #000;
    margin-left: 2rem;
    border-style: none;
}
